<app-header></app-header>

<mat-drawer-container class="drawer">
  <mat-drawer mode="side" opened class="menu">

    <div class="forms-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'home.options.selectClass' | translate }}</mat-label>
        <mat-select [(value)]="selectedClass" (change)="selectClass($event)">
          <mat-option></mat-option>
          <mat-option [value]="options.value"
                      *ngFor="let options of classes">{{options.viewValue}} {{ 'home.options.class' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'home.options.selectGenre' | translate }}</mat-label>
        <mat-select [(value)]="selectedGenre" (change)="selectGenre($event)">
          <mat-option></mat-option>
          <mat-option [value]="option.value"
                      *ngFor="let option of genres">{{ option.viewValue | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'home.options.selectLevel' | translate }}</mat-label>
        <mat-select [(value)]="selectedLevel" (change)="selectLevel($event)">
          <mat-option></mat-option>
          <mat-option [value]="option.value"
                      *ngFor="let option of levels">{{ option.viewValue | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="file" class="file-input" multiple
             (change)="onFileSelected($event)" #fileUpload>

      <div class="file-upload">
        {{fileName || 'No files uploaded yet.'}}
        <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>

<!--      <img src="data:image/jpeg;base64,{{imageBlob}}" alt="test">-->

      <div class="progress">
        <mat-progress-bar *ngIf="uploadProgress"
                          class="progress-bar"
                          mode="determinate"
                          [value]="uploadProgress"
        >
        </mat-progress-bar>
        <mat-icon class="cancel-upload" (click)="cancelUpload()"
                  *ngIf="uploadProgress">delete_forever
        </mat-icon>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="sendFiles()">Send</button>

  </mat-drawer>

  <mat-drawer-content class="main-content">
    <span>Main content</span>

    <div class="scroll-cards">

      <!--      <div style="display: flex; flex-wrap: wrap;">-->
      <!--    test max-width: 33%; width: 100%;-->
      <div *ngFor="let user of users" style="border: 1px solid red;">
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.id}}</p>
      </div>
      <!--      </div>-->

    </div>

    <mat-paginator [length]="usersDataLength"
                   [pageSize]="8"
                   (page)="handlePageEvent($event)"
                   class="pagination"
    >
    </mat-paginator>

  </mat-drawer-content>

</mat-drawer-container>

<app-footer></app-footer>
