<app-header [isRegisterPage]="true"></app-header>

<form class="register-wrapper">
  <h3 class="title">{{ 'auth.register' | translate }}</h3>

  <div class="example-container mb">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'auth.labels.enterNickName' | translate }}</mat-label>
      <input matInput placeholder="John" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getNameError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="example-container mb">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'auth.labels.enterEmail' | translate }}</mat-label>
      <input matInput placeholder="example@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getMailError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="example-container mb">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'auth.labels.enterPassword' | translate }}</mat-label>
      <input matInput placeholder="******" [formControl]="password" type="password" required autocomplete="off">
      <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="sendData()"
          [disabled]="name.invalid || email.invalid || password.invalid">
    {{ 'auth.buttons.regMe' | translate }}
  </button>
</form>

<app-footer></app-footer>
